<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    
    <title>Fantastic Four</title>
</head>
<body>
    <main class="app">
        <header>
            <h1 class="hidden">Team</h1>
            <h2>We are The Fantastic Four!</h2>
            <a href="/">HOME</a>
            <ul>
                <li><a href="maria">Maria</a></li>
                <li><a href="edward">Edward</a></li>
                <li><a href="daniela">Daniela</a></li>
                <li><a href="oksil">Oksil</a></li>
            </ul>
        </header>

    </main>
    
</body>
</html>
