<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">

    <title>Fantastic Four</title>
</head>
<body>
    <main class="app">
        <h1 class="hidden">Team</h1>
        <header>
            <img src="images/FantasticFour-logoOrange.svg" alt="The Fantastic Four logo">

            <nav id="mainNav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Our Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <div id="bioHero">
            <h2>Your Name</h2>
            <hr id="separator">
            <div id="bioInfo">
                <img src="images/oksil.jpg" alt="oksil">

                <div id="skills">
                    <h3> UI Designer & Motion Design </h3>
                    <p>
                      I am a designer who tries hard to develop senses and abilities. I majored in industrial design in Korea, and from grade 3, I became interested in visual design. In addition, in grade 4, he worked as a researcher for the corporate identity research team with a professor related to local government brand identity. Logos and characters using drawings and digitizing suitable for local characteristics were developed, and basic style guides and application style guides were produced after customers checked them. So I'm a designer with a good sense and talent.
                    </p>

                    <h3>Skills</h3>
                    <p>I'm used to graphic design and motion design. So, I can handle illustrators, Photoshop, xd, Indicators, Premier, After Effect, HTML5, and CSS skillfully. Furthermore, he is currently studying hard at Fanshawe College to deal with PHP, javascript, ajax, gulf, and vue.js well.
                    </p>


                </div>
            </div>

        </div>


    </main>

</body>
</html> 
